<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="inferenceSection" type="Gramma.Configuration.XamlSettingsSection, Gramma.Configuration, Version=1.0.0.0"/>
		<section name="dataStreamingSection" type="Gramma.Configuration.XamlSettingsSection, Gramma.Configuration, Version=1.0.0.0"/>
	</configSections>

	<runtime>
		<gcServer enabled="true"/>
	</runtime>

	<inferenceSection settingsXamlPath="Setup.xaml"/>
	<dataStreamingSection settingsXamlPath="DataStreaming.xaml"/>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>
