<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="lexicaSection" type="Grammophone.Configuration.XamlSettingsSection, Grammophone.Configuration, Version=1.0.0.0"/>
		<section name="dataStreamingSection" type="Grammophone.Configuration.XamlSettingsSection, Grammophone.Configuration, Version=1.0.0.0"/>
	</configSections>

	<runtime>
		<gcServer enabled="true"/>
	</runtime>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>

	<lexicaSection settingsXamlPath="LexicaSetup.xaml" />
	<dataStreamingSection settingsXamlPath="DataStreaming.xaml"/>
</configuration>